.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

header {
  border-bottom: 1px solid #eee;
  padding-left: 30px;
}

header h1 {
  font-size: xx-large;
  font-weight: 300;
  color: #002663;
}

header h1 strong {
  font-weight: 700;
}

header h1 span {
  font-weight: 300;
  color: #0494cd;
}

header h2 {
  font-size: x-large;
  font-weight: 300;
  color: #002663;
}

header h2 strong {
  font-weight: 700;
}

header h2 span {
  font-weight: 300;
  color: #0494cd;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-bottom: 2px solid #0494cd;
}

.Navbar a {
  padding: 5px 40px;
  color: #000;
  text-decoration: none;
}

.Navbar a:hover {
  background-color: #002663;
  color: #fff;
}

.Navbar a.active {
  color: #fff;
  background-color: #046ab8;
  font-weight: 700;
}

button {
  color: #046ab8;
  border: 2px solid #046ab8;
  border-radius: 100px;
  padding: 15px 30px;
  font-size: medium;
  font-weight: 600;
  width: 200px;
}

button:hover {
  color: #fff;
  background-color: #046ab8;
}

section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

section p {
  padding: 20px 0px;
  color: #002663;
  font-size: large;
  text-align: center;
  line-height: 2;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #002663;
  font-size: large;
  margin-bottom: 20px;
}

input {
  border: 2px solid #002663;
  border-radius: 6px;
  height: 44px;
  padding-left: 10px;
  margin: 10px 0;
  font-size: large;
}

li {
  padding: 20px 0px;
  color: #002663;
  font-size: large;
  text-align: center;
  line-height: 2;
  list-style-type: none;
}
