.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

header {
  border-bottom: 1px solid #eee;
  padding-left: 30px;
}

header h1 {
  font-size: xx-large;
  font-weight: 300;
  color: #002663;
}

header h1 strong {
  font-weight: 700;
}

header h1 span {
  font-weight: 300;
  color: #0494cd;
}

header h2 {
  font-size: x-large;
  font-weight: 300;
  color: #002663;
}

header h2 strong {
  font-weight: 700;
}

header h2 span {
  font-weight: 300;
  color: #0494cd;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-bottom: 2px solid #0494cd;
}

.Navbar a {
  padding: 5px 40px;
  color: #000;
  text-decoration: none;
}

.Navbar a:hover {
  background-color: #002663;
  color: #fff;
}
